.AppFoot{
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    height: 1rem;
    border-top: 1px solid rgba($color: #000000, $alpha: .15);
    display: flex;
    flex-direction: row;
    background: #FFF;
    z-index: 5;
    .foot_nav{
      flex: 1;
      display: flex;
      padding-top: .1rem;
      justify-content: center;
      .activ .navImg{
        &::after{
            color: #333;
        }
        &.nav-1{
        background: url('../../assets/img/nav_1_cur.png') no-repeat center center;
        background-size: 90% auto;
        }
        &.nav-2{
        background: url('../../assets/img/nav_2_cur.png') no-repeat center center;
        background-size: 90% auto;
        }
        &.nav-3{
        background: url('../../assets/img/nav_3_cur.png') no-repeat center center;
        background-size: 90% auto;
        }
        &.nav-4{
        background: url('../../assets/img/nav_4_cur.png') no-repeat center center;
        background-size: 90% auto;
        }
        &.nav-5{
        background: url('../../assets/img/nav_5_cur.png') no-repeat center center;
        background-size: 90% auto;
        }
      }
      .navImg{
        width: .62rem;
        height: .56rem;
        position: relative;
        &::after{
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: -.25rem;
          font-size: .2rem;
          display: block;
          text-indent: 2px;
          color: #999;
        }
        &.nav-1{
          background: url('../../assets/img/nav_1.png') no-repeat center center;
          background-size: 90% auto;
          &::after{
              content: '首页';
          }
        }
        &.nav-2{
          background: url('../../assets/img/nav_2.png') no-repeat center center;
          background-size: 90% auto;
          &::after{
              content: '点评';
          }
        }
        &.nav-3{
          background: url('../../assets/img/nav_3.png') no-repeat center center;
          background-size: 90% auto;
          &::after{
              content: '任务';
          }
        }
        &.nav-4{
          background: url('../../assets/img/nav_4.png') no-repeat center center;
          background-size: 90% auto;
          &::after{
              content: '记录';
          }
        }
        &.nav-5{
          background: url('../../assets/img/nav_5.png') no-repeat center center;
          background-size: 90% auto;
          &::after{
              content: '我的';
          }
        }
      }
    }
  }